html, body, .container-fluid, #map-row{
  height: 100%;
}
html, body, #map-container, #map-row{
  padding-left: 0 !important;
}
#map-container{
  height: 100%;
}
#map{
  padding: 0;
  height: 100%;
  margin: 0;
}
svg{
  display: block;
  margin: auto;
}
/* #plot-container{
  margin: 10px;
} */
.calculation-box {
height: 75px;
width: 150px;
position: absolute;
bottom: 40px;
left: 10px;
background-color: rgba(255, 255, 255, .9);
padding: 15px;
text-align: center;
}
.calculation-box > p {
font-family: 'Open Sans';
margin: 0;
font-size: 13px;
}
/* svg {
  margin: 0;
  display: block;
} */
.tick line{
  stroke: #ccc;
  stroke-dasharray: 10, 5;
}
.disabled-button{
  background-color: #A0A0A0;
}
.container > button{
  margin: 5px;
}
#buttons-container > .container{
  margin: 10px;
}
#recent-container{
  margin-top: 10px;
}
p{
  font-size: 20px;
}
